---
import { getLangFromUrl, useTranslation } from "@/i18n";
import Button_MoreInformation from "@/components/Button_MoreInformation.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
const { item } = Astro.props;

const area1 = item.AREA1 || [];
const area2 = item.AREA2 || [];
const placeUnder = area1.length <= area2.length ? "area1" : "area2";
---

<section id="areas" class="">
  <div class="flex justify-center items-center glass-effect">
    <h2
      class="title-text text-center"
    >
      {i18n.AREAS.TITLE_1}
    </h2>
  </div>
  <h2
    class="text-[var(--color-title))] px-6 mx-auto max-w-5xl mt-16 text-center my-14"
  >
    {item.AREA_TEXT_1}
  </h2>
  <div class="px-6">
    <div
      class="gap-x-16 gap-y-8 grid grid-cols-1 md:grid-cols-2 mx-auto max-w-6xl md:text-left text-center"
    >
      <div class="flex flex-col gap-8">
        {
          area1.map((area: any, index: number) => (
            <div data-aos="fade-right" data-aos-duration="1000">
              <h2 class="mb-2  text-[var(--color-title)] ">
                {area.TITLE}
              </h2>
              <p class=" ">{area.DESCRIPTION}</p>
            </div>
          ))
        }

        {
          placeUnder === "area1" ? (
            <h2
              data-aos="fade-right"
              data-aos-duration="1000"
              class=" text-[var(--color-title))]  mx-auto max-w-5xl text-center lg:text-left"
            >
              {item.AREA_TEXT_2}
            </h2>
          ) : null
        }
        <div class="mx-auto lg:mx-0 w-fit" data-aos="zoom-in" data-aos-duration="1000">
          <Button_MoreInformation lang={lang} i18n={i18n} />
        </div>
      </div>

      <div class="flex flex-col gap-8">
        {
          area2.map((area: any, index: number) => (
            <div data-aos="fade-left" data-aos-duration="1000">
              <h2 class="mb-2  text-[var(--color-title)] ">
                {area.TITLE}
              </h2>
              <p>{area.DESCRIPTION}</p>
            </div>
          ))
        }
        {
          placeUnder === "area2" ? (
            <h2
              data-aos="fade-left"
              data-aos-duration="1000"
              class=" text-[var(--color-title))]  mx-auto max-w-5xl text-center lg:text-left"
            >
              {item.AREA_TEXT_2}
            </h2>
          ) : null
        }
      </div>
    </div>
  </div>
</section>
