---
import { getLangFromUrl } from "@/i18n/utils";
import { translations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<div
  id="challenge"
  class="max-w-6xl h-full mx-auto flex flex-col gap-12 px-6 py-12"
>
  <h1
    data-aos="fade-up"
    data-aos-duration="1000"
    class="mt-4 title-text text-center lg:text-left mb-4"
  >
    <span class="decoration text-[var(--color-title)]">+</span>
    {i18n.CHALLENGE.TITLE}
  </h1>

  <h2 data-aos="fade-in" data-aos-duration="1000" class="text-center">
    {i18n.CHALLENGE.SUBTITLE}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {
      i18n.CHALLENGE.CARDS.map((card, index) => (
        <div
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay={index * 200}
          class="flex"
        >
          <div class="relative glass-effect border border-white/25 p-6 rounded-lg hover:-translate-y-2 transition-transform duration-300 flex-1">
            <p class="">{card.TEXT}</p>
            <div class="absolute -bottom-0.5 left-1/2 -translate-x-1/2 w-2/3 h-1 bg-[linear-gradient(to_right,transparent,var(--color-title),transparent)]" />
          </div>
        </div>
      ))
    }
  </div>

  <div class="flex flex-col gap-2">
    <p data-aos="fade-up" data-aos-duration="1000" class="text-center">
      {i18n.CHALLENGE.TEXT}
    </p>
    <h2
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
      class="text-center"
    >
      {i18n.CHALLENGE.TEXT_2}
    </h2>
  </div>
</div>
