---
import { getLangFromUrl } from "@/i18n/utils";
import { translations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<div id="contact" class="bg-transparent text-white py-12 px-4">
    <div class="max-w-4xl mx-auto text-center">
        <p class="mb-8 text-gray-300" set:html={i18n.CONTACT_FORM.HEADING}></p>
        <form class="flex flex-col lg:flex-row items-center justify-center gap-4">
            <input type="text" placeholder={i18n.CONTACT_FORM.NAME_PLACEHOLDER} class="w-full lg:w-auto bg-transparent border-2 border-[var(--color-title)] rounded-full px-6 py-3 text-metal placeholder-[var(--color-title)] focus:outline-none focus:ring-2 focus:ring-[var(--color-title)] text-center placeholder:text-lg placeholder:font-semibold">
            <input type="email" placeholder={i18n.CONTACT_FORM.EMAIL_PLACEHOLDER} class="w-full lg:w-auto bg-transparent border-2 border-[var(--color-title)] rounded-full px-6 py-3 text-metal placeholder-[var(--color-title)] focus:outline-none focus:ring-2 focus:ring-[var(--color-title)] text-center placeholder:text-lg placeholder:font-semibold">
            <input type="text" placeholder={i18n.CONTACT_FORM.MESSAGE_PLACEHOLDER} class="w-full lg:w-auto bg-transparent border-2 border-[var(--color-title)] rounded-full px-6 py-3 text-metal placeholder-[var(--color-title)] focus:outline-none focus:ring-2 focus:ring-[var(--color-title)] text-center placeholder:text-lg placeholder:font-semibold">
            <button type="submit" class="w-full lg:w-auto bg-white text-black rounded-full px-8 py-3 font-semibold hover:bg-gray-200 transition-colors flex items-center justify-center gap-2">
                {i18n.CONTACT_FORM.SUBMIT_BUTTON}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>
    </div>
</div>
