---
import { getLangFromUrl } from "@/i18n/utils";
import { translations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<div id="about" class="max-w-6xl h-full mx-auto flex flex-col gap-6 p-6">
  <h1
    data-aos="fade-up"
    data-aos-duration="1000"
    class="title-text text-center lg:text-left"
  >
    <span class="decoration text-[var(--color-title)]">+</span>
    ¿{i18n.GLACI.TITLE}
    <span
      class="!text-6xl !font-bold hover:text-[var(--color-title)] transition-colors"
      >{i18n.GLACI.GLACI}</span
    >?
  </h1>
  <p
    data-aos="fade-in"
    data-aos-duration="1000"
    class="text-center lg:text-left"
    set:html={i18n.GLACI.DESCRIPTION}
  />
  <div class="gap-10 lg:gap-16 flex flex-col lg:flex-row justify-center">
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="relative glass-effect border border-white/25 p-5 pb-4 rounded-md flex-1"
    >
      <div
        class="absolute -bottom-0.5 left-1/2 -translate-x-1/2 w-2/3 h-1 bg-[linear-gradient(to_right,transparent,var(--color-title),transparent)]"
      >
      </div>
      <p class="text-center lg:text-left">
        {i18n.GLACI.TEXT_1}
      </p>
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      class="relative glass-effect border border-white/25 p-5 pb-4 rounded-md flex-1"
    >
      <div
        class="absolute -bottom-0.5 left-1/2 -translate-x-1/2 w-2/3 h-1 bg-[linear-gradient(to_right,transparent,var(--color-title),transparent)]"
      >
      </div>
      <p class="text-center lg:text-left">
        {i18n.GLACI.TEXT_2}
      </p>
    </div>
  </div>
</div>
