---
import { getLangFromUrl } from "@/i18n/utils";
import { translations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<div
  id="about"
  class="max-w-6xl h-full mx-auto flex flex-col gap-6 px-6 py-12"
>
  <h1
    data-aos="fade-up"
    data-aos-duration="1000"
    class="mt-4  title-text text-center lg:text-left mb-4"
  >
    <span class="decoration text-[var(--color-title)]">+</span>
    ¿{i18n.GLACI.TITLE}
    <span
      class=" !text-6xl !font-bold hover:text-[var(--color-title)] transition-colors"
      >{i18n.GLACI.GLACI}</span
    >?
  </h1>
  <p
    data-aos="fade-in"
    data-aos-duration="1000"
    class="text-center lg:text-left "
    set:html={i18n.GLACI.DESCRIPTION}
  />
  <div class="gap-10 lg:gap-16 p-5 flex flex-col lg:flex-row justify-center">
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="relative glass-effect border border-white/25 p-5 pb-4 rounded-md flex-1"
    >
      <div
        class="block -bottom-0.5 left-1/2 -translate-x-1/2 absolute bg-[var(--color-title)] rounded-md w-2/3 h-1 pointer-events-none"
      >
      </div>
      <p class=" text-center lg:text-left">
        {i18n.GLACI.TEXT_1}
      </p>
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      class="relative glass-effect border border-white/25 p-5 pb-4 rounded-md flex-1"
    >
      <div
        class="block -bottom-0.5 left-1/2 -translate-x-1/2 absolute bg-[var(--color-title)] rounded-md w-2/3 h-1 pointer-events-none"
      >
      </div>
      <p class=" text-center lg:text-left">
        {i18n.GLACI.TEXT_2}
      </p>
    </div>
  </div>
</div>
