---
import { getLangFromUrl, useTranslation } from "@/i18n";
import Button_Networks from "@/components/Button_Networks.astro";
import Button_MoreInformation from "@/components/Button_MoreInformation.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<main id="home" class="relative flex flex-col p-6">
  <!-- BACKGROUND (igual que antes) -->
  <div class="-z-20 absolute inset-0 w-full h-full overflow-hidden">
    <video
      id="bg-video"
      class="border-0 w-full h-full object-cover pointer-events-none opacity-75"
      src="/video/bg4.mp4"
      poster="/img/bg-fallback.jpg"
      autoplay
      muted
      loop
      playsinline></video>
  </div>

  <!-- CONTENT -->
  <div
    id="content"
    class="w-full max-w-7xl mx-auto min-h-screen h-full flex-1 flex flex-col items-center justify-end lg:items-start text-white gap-12 lg:gap-18"
  >
    <img
      loading="lazy"
      src="/logo/logo.webp"
      alt="Logo"
      class="w-50 lg:w-72 h-auto object-contain"
    />
    <p
      class="text-2xl lg:text-4xl text-left font-semibold tracking-wider w-full max-w-2/3 mb-18"
    >
      {i18n.HERO.TEXT_1}
    </p>
  </div>
  <div class="flex flex-col  max-w-6xl text-white mx-auto lg:flex-row gap-10 my-12 lg:gap-25">
    <div class="relative glass-effect border border-white/25 p-2 rounded-md">
      <div
        class="hidden lg:block top-3 bottom-3 -left-0.5 absolute bg-[var(--color-title)] rounded-md w-1 pointer-events-none"
      >
      </div>
      <p class="text-xs lg:text-base text-center lg:text-left pl-4">
        {i18n.HERO.TEXT_3}
      </p>
    </div>
    <div class="relative glass-effect border border-white/25 p-2 rounded-md">
      <div
        class="hidden lg:block top-3 bottom-3 -right-0.5 absolute bg-[var(--color-title)] rounded-md w-1 pointer-events-none"
      >
      </div>
      <p class="text-xs lg:text-base text-center lg:text-right pr-4">
        {i18n.HERO.TEXT_4}
      </p>
    </div>
  </div>
  <!-- FOOTER HERO -->
  <div
    class="items-end lg:items-center flex flex-col lg:flex-row justify-between max-w-6xl mx-auto gap-6 w-full text-white"
  >
    <div
      class="flex flex-col justify-center items-center gap-6 w-fit mx-auto lg:mx-0"
    >
      <a
        href={`/${lang}/certifications`}
        class="group flex justify-between text-[var(--color-bg-2)] items-center gap-4 bg-white px-6 py-3 rounded-full w-fit font-bold text-lg"
      >
        {i18n.HERO.FOOTER_LEFT_BUTTON}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-[var(--color-bg-2)] h-6 rotate-90"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
          ></path>
        </svg>
      </a>
    </div>

    <div class="flex justify-center items-center mx-auto">
      <Button_MoreInformation i18n={i18n} lang={lang} />
    </div>

    <div class="flex flex-row justify-end items-center gap-6 mx-auto lg:mx-0">
      <p class="font-light text-sm">{i18n.HERO.FOOTER_RIGHT_TEXT}</p>
      <Button_Networks i18n={i18n} />
    </div>
  </div>

  <div
    class="bottom-0 left-0 -z-10 absolute bg-gradient-to-t from-[var(--color-bg-1)] to-transparent w-full h-1/6"
  >
  </div>
</main>

<footer class="px-8 lg:text-left text-center max-w-7xl mx-auto">
  <p class="text-white/80 text-sm">
    Copyright © GLACI {new Date().getFullYear()}
  </p>
</footer>
