---
import { getLangFromUrl, useTranslation } from "@/i18n";
import Button_Networks from "@/components/Button_Networks.astro";
import Button_MoreInformation from "@/components/Button_MoreInformation.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<main id="home" class="relative flex flex-col p-6">
  <!-- BACKGROUND (igual que antes) -->
  <div class="-z-10 absolute inset-0 w-full h-full overflow-hidden">
    <video
      id="bg-video"
      class="border-0 w-full h-full object-cover pointer-events-none opacity-75"
      src="/video/bg4.mp4"
      poster="/img/bg-fallback.jpg"
      autoplay
      muted
      loop
      playsinline></video>
  </div>

  <!-- CONTENT -->
  <div
    id="content"
    class="relative hidden w-full max-w-6xl mx-auto min-h-screen h-full flex-1 lg:flex flex-col items-center justify-center text-white gap-12 lg:gap-16"
  >
    <div data-aos="zoom-in" data-aos-duration="1800">
      <img
        loading="lazy"
        src="/logo/logo.webp"
        alt="Logo"
        class="w-50 lg:w-80 xl:w-125 h-auto object-contain"
      />
    </div>

    <p
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-delay="800"
      class="absolute bottom-[10%] text-2xl lg:text-3xl text-center font-semibold tracking-wider w-full"
    >
      {i18n.HERO.TEXT_1}
    </p>
  </div>
  <div
    id="content"
    class="w-full max-w-6xl mx-auto min-h-screen h-full flex-1 flex lg:hidden flex-col items-center justify-center text-white gap-12 lg:gap-16"
  >
    <div data-aos="zoom-in" data-aos-duration="1800">
      <img
        loading="lazy"
        src="/logo/logo.webp"
        alt="Logo"
        class="w-50 md:w-80 lg:w-96 h-auto object-contain"
      />
    </div>

    <p
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-delay="800"
      class="text-2xl lg:text-3xl text-center font-semibold tracking-wider w-full lg:max-w-2/3"
    >
      {i18n.HERO.TEXT_1}
    </p>
  </div>
  <div
    class="bottom-0 left-0 -z-10 absolute bg-gradient-to-t from-[var(--color-bg-1)] to-transparent w-full h-1/6"
  >
  </div>
</main>
<div class="max-w-7xl mx-auto bg-[var(--color-bg-1)] py-12 mb-12 px-6">
  <!-- FOOTER HERO -->
  <div
    class="items-end lg:items-center flex flex-col lg:flex-row justify-between mx-auto gap-6 w-full text-white"
  >
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="flex justify-center items-center"
    >
      <Button_MoreInformation i18n={i18n} lang={lang} />
    </div>

    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="flex flex-row justify-end items-center gap-6 mx-auto lg:mx-0"
    >
      <p class="font-light text-sm">{i18n.HERO.FOOTER_RIGHT_TEXT}</p>
      <Button_Networks i18n={i18n} />
    </div>
  </div>
</div>
