---
import { getLangFromUrl, useTranslation, slugify } from "@/i18n";
import LanguagePicker from "@/i18n/LanguagePicker.astro";
import ButtonMoreInformation from "./Button_MoreInformation.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<header
  class="top-0 left-0 z-50 fixed flex justify-between items-center px-4 sm:px-8 lg:px-28 py-4 border-white/25 border-b w-full"
>
  <!-- Logo -->
  <div class="z-50 flex justify-center items-center w-max h-17 object-contain">
    <a href={`/${lang}/`}>
      <img
        loading="lazy"
        src="/logo/logo.webp"
        alt="Logo"
        class="w-28 lg:w-40 h-auto"
      />
    </a>
  </div>

  <!-- Desktop Navbar -->
  <nav
    class="hidden lg:flex justify-end items-center gap-6 h-11 font-semibold text-[18px] text-white"
  >
    <a
      href={`/${lang}/#home`}
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.HOME}</a
    >
    <div class="group relative">
      <a
        href={`/${lang}/#AreasOfImpact`}
        class="z-30 relative font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >
        {i18n.NAVBAR.AREAS_OF_IMPACT}
      </a>
      <div
        class="dropdown-menu top-full left-0 z-20 absolute flex flex-col gap-2 opacity-0 group-hover:opacity-100 shadow-[0_8px_20px_rgba(0,0,0,0.4)] p-[10px] rounded-[8px] min-w-[320px] transition-all -translate-y-[6px] group-hover:translate-y-0 duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        {
          i18n.AREAS.SMART_ECOSYSTEM_ITEMS.map((item) => (
            <a
              href={`/${lang}/${slugify(item.TITLE_TEXT)}`}
              class="block hover:bg-[var(--color-title)]/10 p-2 rounded-md hover:text-[var(--color-title)]"
            >
              <strong>{item.TITLE_TEXT}</strong>
              <span class="block font-medium text-gray-200 text-base">
                {item.SUBTITLE}
              </span>
            </a>
          ))
        }
      </div>
    </div>
    <a
      href={`/${lang}/#consortium`}
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.CONSORTIUM}</a
    >
    <a
      href={`/${lang}/our-team`}
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.TALENT}</a
    >
    <a
      href={`/${lang}/register`}
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.CONTACT}</a
    >
    <LanguagePicker />
    <!-- <ButtonMoreInformation i18n={i18n} lang={lang} /> -->
  </nav>

  <!-- Mobile Menu Button -->
  <div class="lg:hidden z-50">
    <button id="menu-toggle" class="text-white">
      <svg
        id="menu-open-icon"
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg
        id="menu-close-icon"
        class="hidden w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="lg:hidden fixed inset-0 bg-[#050647]/95 opacity-0 backdrop-blur-sm w-full h-screen transition-opacity duration-300 ease-in-out pointer-events-none"
  >
    <nav
      class="flex flex-col justify-center items-center gap-6 pt-24 pb-10 h-full overflow-y-auto font-medium text-white text-lg"
    >
      <a
        href={`/${lang}/#home`}
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.HOME}</a
      >
      <div class="relative text-center">
        <button
          id="areas-toggle"
          class="flex items-center justify-center gap-2 font-medium hover:text-[var(--color-title)] mx-auto text-2xl transition-colors"
        >
          {i18n.NAVBAR.AREAS_OF_IMPACT}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 transition-transform duration-300"
            viewBox="0 0 20 20"
            fill="currentColor"
            id="areas-arrow"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div id="areas-submenu" class="hidden flex-col gap-3 mt-3">
          {
            i18n.AREAS.SMART_ECOSYSTEM_ITEMS.map((item) => (
              <a
                href={`/${lang}/${slugify(item.TITLE_TEXT)}`}
                class="block p-1 rounded-md hover:text-[var(--color-title)] text-base"
              >
                {item.TITLE_TEXT}
              </a>
            ))
          }
        </div>
      </div>
      <a
        href={`/${lang}/#consortium`}
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.CONSORTIUM}</a
      >
      <a
        href={`/${lang}/register`}
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.CONTACT}</a
      >
      <a
        href=`/${lang}/our-team`
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.TALENT}</a
      >
      <LanguagePicker />
    </nav>
  </div>
</header>

<style>
  header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -5;
  }

  .dropdown-menu {
    background-color: var(--color-bg-dropdown);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
</style>

<script is:inline>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const openIcon = document.getElementById("menu-open-icon");
  const closeIcon = document.getElementById("menu-close-icon");
  const body = document.querySelector("body");
  const menuLinks = mobileMenu.querySelectorAll("nav > a, #areas-submenu a");
  const areasToggle = document.getElementById("areas-toggle");
  const areasSubmenu = document.getElementById("areas-submenu");
  const areasArrow = document.getElementById("areas-arrow");

  const toggleMenu = () => {
    mobileMenu.classList.toggle("opacity-0");
    mobileMenu.classList.toggle("pointer-events-none");
    openIcon.classList.toggle("hidden");
    closeIcon.classList.toggle("hidden");
    body.classList.toggle("overflow-hidden");
  };

  menuToggle.addEventListener("click", toggleMenu);

  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      if (!mobileMenu.classList.contains("opacity-0")) {
        toggleMenu();
      }
    });
  });

  areasToggle.addEventListener("click", (e) => {
    e.stopPropagation();
    areasSubmenu.classList.toggle("hidden");
    areasSubmenu.classList.toggle("flex");
    areasArrow.classList.toggle("rotate-180");
  });
</script>
