---
import { getLangFromUrl } from "@/i18n/utils";
import { translations } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<script src="../scripts/card3d.js"></script>

<div id="value" class="max-w-6xl h-full mx-auto flex flex-col gap-8 p-6">
  <h1
    data-aos="fade-up"
    data-aos-duration="1000"
    class="mt-4 title-text text-center lg:text-left mb-4"
  >
    <span class="decoration text-[var(--color-title)]">+</span>
    {i18n.VALUE.TITLE}
  </h1>

  <p data-aos="fade-in" data-aos-duration="1000" class="text-center">
    {i18n.VALUE.SUBTITLE}
  </p>

  <!-- Value Items Flex -->
  <div class="flex flex-wrap justify-center gap-6">
    {
      i18n.VALUE.ITEMS.map((item, index) => (
        <div
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay={index * 150}
          class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.333%-16px)] flex"
        >
          <div class="value-card relative flex justify-center items-center glass-effect border border-white/25 p-6 rounded-lg transition-all duration-300 flex-1 group">
            <div class="absolute top-0 -left-0.5 w-1 h-full rounded-full bg-[linear-gradient(to_bottom,transparent_0%,var(--color-title)_50%,transparent_100%)]" />
            <div class="flex items-center justify-center gap-4">
              <div class="flex flex-shrink-0 justify-center items-center shadow-inner border border-white/15 rounded-lg w-16 h-16 transition-transform duration-300">
                <img
                  src={item.ICON}
                  alt={item.TITLE}
                  class="w-10 object-contain"
                />
              </div>
              <p>{item.TITLE}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <!-- Central Message Section -->
  <div class="relative z-10 text-center space-y-8 mt-8">
    <div class="relative inline-block">
      <h2
        data-aos="fade-in"
        data-aos-duration="1000"
        data-aos-delay="700"
        class="mb-2 !font-light"
      >
        {i18n.VALUE.TEXT}
      </h2>
      <div
        data-aos="fade-in"
        data-aos-duration="1000"
        data-aos-delay="600"
        class="absolute -bottom-2 left-0 right-0 h-0.5 bg-gradient-to-r from-transparent via-[var(--color-title)] to-transparent"
      >
      </div>
    </div>

    <h2
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="1000"
      class="lg:!text-5xl"
    >
      {i18n.VALUE.TEXT_2}
    </h2>
  </div>
</div>
