---
import { getLangFromUrl } from "@/i18n";
import { translations } from "@/i18n/config";

import Layout from "@/layouts/Layout.astro";

import Contact from "@/components/Contact.astro";
import Stars from "@/components/Stars.astro";

export function getStaticPaths() {
  return Object.keys(translations).map((lang) => ({ params: { lang } }));
}

const lang = getLangFromUrl(Astro.url);
const i18n = await translations[lang]();
---

<Layout title="G L A C I">
  <section
    class="relative min-h-screen flex items-center justify-center text-white overflow-hidden"
  >
    <div class="-z-10">
      <Stars />
    </div>
    <div class="w-full md:max-w-5xl mx-auto px-8 py-24 mt-12 md:mt-0">
      <!-- Menú superior -->
      <nav
        class="flex justify-center gap-2 md:gap-10 text-sm pb-6 mb-16 border-b-2 border-white/25"
      >
        {
          i18n.CERTIFICATIONS.map((cert, index) => (
            <a
              href="#"
              class="hover:text-[var(--color-title)] transition nav-link text-center"
              data-index={index}
              set:html={cert.NAV_TITLE.replace(/<b[^>]*>/g, "").replace(
                /<\/b>/g,
                ""
              )}
            />
          ))
        }
      </nav>

      <!-- Contenido principal -->
      <div class="flex flex-col items-start">
        <!-- Texto izquierdo -->
        <div class="w-full">
          <h2
            id="cert-nav-title"
            class="text-4xl font-light mb-4"
            set:html={i18n.CERTIFICATIONS[0].NAV_TITLE}
          />
          <h3
            id="cert-title"
            class="text-3xl font-light text-[var(--color-title)] mb-8 md:mb-16"
            set:html={i18n.CERTIFICATIONS[0].TITLE}
          />
          <div
            class="w-full h-[2px] bg-[var(--color-title)]/25 mb-8 md:mb-16 rounded-full overflow-hidden"
          >
            <div class="h-2 w-1/5 bg-[var(--color-title)]"></div>
          </div>
        </div>
        <!-- Texto derecho -->
        <div class="flex flex-col md:flex-row gap-12 md:gap-24 text-justify">
          <div
            id="cert-desc-left"
            class="text-sm leading-relaxed text-white/90 w-full lg:w-1/2"
            set:html={i18n.CERTIFICATIONS[0].DESCRIPTION_LEFT}
          />
          <div
            id="cert-desc-right"
            class="text-sm leading-relaxed text-white/90 w-full lg:w-1/2"
            set:html={i18n.CERTIFICATIONS[0].DESCRIPTION_RIGHT}
          />
        </div>
      </div>
    </div>
  </section>
  <Contact />
</Layout>

<script define:vars={{ certifications: i18n.CERTIFICATIONS }}>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll(".nav-link");
    const navTitleEl = document.getElementById("cert-nav-title");
    const titleEl = document.getElementById("cert-title");
    const descLeftEl = document.getElementById("cert-desc-left");
    const descRightEl = document.getElementById("cert-desc-right");
    const contentElements = [navTitleEl, titleEl, descLeftEl, descRightEl];

    navLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();
        // Remove active class from all links
        navLinks.forEach((navLink) => navLink.classList.remove("active"));
        // Add active class to the clicked link
        e.target.closest("a").classList.add("active");

        const index = e.target.closest("a").dataset.index;
        const cert = certifications[index];

        // Fade out
        contentElements.forEach((el) => (el.style.opacity = "0"));

        setTimeout(() => {
          navTitleEl.innerHTML = cert.NAV_TITLE;
          titleEl.innerHTML = cert.TITLE;
          descLeftEl.innerHTML = cert.DESCRIPTION_LEFT;
          descRightEl.innerHTML = cert.DESCRIPTION_RIGHT;

          // Fade in
          contentElements.forEach((el) => (el.style.opacity = "1"));
        }, 300); // Match timeout with CSS transition duration
      });
    });

    // Set the first link as active on initial load
    if (navLinks.length > 0) {
      navLinks[0].classList.add("active");
    }

    // Add transition style
    contentElements.forEach(
      (el) => (el.style.transition = "opacity 0.3s ease-in-out")
    );
  });
</script>

<style>
  .nav-link {
    position: relative;
    padding-bottom: 5px; /* Keep padding for text spacing */
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -25px; /* Adjusted for precise alignment with nav's base border */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-title);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    transform: scaleX(1);
  }
</style>
